@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* src/index.css */
body {
  font-family: Arial, sans-serif;
}

.book-card, .book-list {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
